# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Additional Flutter and platform-specific ignores
android/.gradle/
android/local.properties
android/.idea/
android/app/proguard-rules.pro
android/key.properties
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/.generated/
macos/.symlinks/
macos/Pods/
windows/flutter/
windows/CMakeLists.txt
linux/flutter/
linux/CMakeLists.txt
web/.dart_tool/
web/.firebase/
web/.flutter-plugins
web/.flutter-plugins-dependencies
firebase.json
firebase_options.dart
firebase_app.js
firebase-debug.log
flutter_export_environment.sh
xcuserdata/
**/xcuserdata/
**/xcshareddata/
**/xcworkspace/
!ios/Runner.xcodeproj
!ios/Runner.xcworkspace
coverage/
pubspec.lock